.none-product {
    text-align: center;
    font-size: 30px;
    color: rgb(99, 99, 99);
    margin-top: 50px;
}
.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.item {
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 30px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}
.item:hover {
    border: 1px solid #ff5e02;
}

.item img {
    width: 220px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}
.products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.item p {
    text-align: center;
    margin: 10px;
}
.footer {
    height: 100px;
}
.pagination {
    display: flex;
    justify-content: center;
}
.pagination button {
    font-size: 24px;
}
.page-now {
    color: red !important;
}
.pagination button {
    border: none;
    background-color: #f0f2f5;
    color: royalblue;
    cursor: pointer;
}
.pagination button:hover {
    text-decoration: underline;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.search {
    display: flex;
    flex-direction: column;
    margin: 50px 0 20px 0;
}
.form-search {
    width: 100%;
    padding: 0 50px;
    margin-bottom: 10px;
}
.form-search input {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 3px solid #a5a5a5;
}
.form-search input:active,
.form-search input:focus {
    border: 3px solid #ff8800 !important;
    outline: none !important;
}
.form-filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
}
.form-filter input {
    width: 100px;
    border-radius: 2px;
    border: 1px solid #a5a5a5;
    margin: 5px;
}
.form-filter input:active,
.form-filter input:focus {
    border: 1px solid #ff8800 !important;
    outline: none !important;
}
.form-filter button {
    cursor: pointer;
    border: #ff5e02;
    background-color: #ff5e02;
    color: #fff;
    /* margin-left: 10px; */
    padding: 3px 5px;
    width: 50px;
    margin: 5px 0px 5px 10px;
    border-radius: 2px;
}
.form-filter p {
    font-size: 14px;
    color: red;
    text-align: end;
    margin-top: 0;
}
.form-filter form div {
    display: flex;
}
.loader {
    text-align: center;
}
.loader img {
    width: 100%;
    max-width: 300px;
}

@media screen and (max-width: 1220px) and (min-width: 900px) {
    .content {
        max-width: 900px;
    }
}
@media screen and (max-width: 920px) and (min-width: 600px) {
    .content {
        max-width: 600px;
    }
}
@media screen and (max-width: 620px) {
    .content {
        max-width: 300px;
    }
    .form-search,
    .form-filter {
        padding: 0;
    }
    .form-filter form div {
        flex-direction: column;
        align-items: flex-end;
    }
}
